<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		
		<!--<add name ="constring" connectionString ="Server=.;database=CMS_DB;user id=sa;password=Bitford***123;Trusted_Connection=yes;connection timeout=30" />-->
		<!--<add name ="constring" connectionString ="Server=DESKTOP-SSO7U9G\MSSQLSERVER01;database=CMS_DB;user id=sa;password=Bitford***123;Trusted_Connection=yes;connection timeout=30" />-->
		<!--<add name ="constring" connectionString ="Server=192.168.1.11\MSSQLSERVER01;database=CMS_DB;user id=sa;password=Bitford***123;Trusted_Connection=yes;connection timeout=30" />-->

		<add name="constring" connectionString="Server=plesk.hostbreak.com;database=CMS_DB;user id=Admin_Moore;password=Bitford***123;connection timeout=30" />

	</connectionStrings>
</configuration>